.comment-card {
    margin: 1rem 0;
}

.comment-card .card-body {
    padding: 1rem 1rem;
}

.comment-card .card-first-line {
    padding-right: 1rem;
}

.comment-card .card-username {
    font-size: 1.125rem;
}

.comment-card .card-rating {
    font-size: 0.9rem;
}

.comment-card .card-text {
    font-size: 1rem;
    line-height: 1.25rem;

    padding: .5rem 0 0;
}
