/*Config geral*/
.container-pagina{
    max-width: 100%;
    padding: 0;
    margin:0;
}

.container-pagina .row{
    display: flex;
    width: 100%;
    padding: 0;
    margin:0;
}

/*Container à esquerda*/
#esquerda{
    padding: 0;
    margin:0;
    display: flex;
    flex: 70%;
    justify-content: center;
    align-items: center;
    min-height: 100vmin;
    background-image:url(./fundo.jpg);
    box-shadow: inset 0 0 0 10000px rgba(247, 247, 122, 0.5);
}
/*Nome do site*/
.col-fluid-md-6 > h1{
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
}

/*Container à direita*/
#direita{
    padding: 0;
    margin:0;
    display: flex;
    flex: 30%;
    background-color: #fe9c03;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

/*Section de login*/
.login{
    margin: auto;
}
/*Título Login*/
.login .title{
    display: block;
    text-transform:uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 2em;
    line-height: 48px;
    padding:0px;
    padding-bottom: 20px;
}
/*Barra de input*/
.form-floating{
    position: relative;
    margin:0 px;
    margin-top: 20px;
}
/*Input*/
.form-floating input{
    width: 300px;
    height: 36px;
    border-width: 0 0 0px 0;  
    border-radius: 10px; 
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
/*Efeito da barra de input*/
.form-floating .input-text:focus + .label,
.form-floating .input-text.not-empty + .label{
    transform: translateY(-26px);
}
.form-floating .input-text:focus{
    outline: none;
}
.form-floating .label{
    position:absolute;
    left:18px;
    width: 300px;
    font-size: 18px;
    line-height: 0px;
    font-weight: 400;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;
}
/*Botão de enviar*/
#btn{
    display: block;
    display: inline-block;
    background-color:#EB5451;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    margin: 20px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
}
/*Link de não cadastrado*/
#link{
    display: block;
    color:black;
    padding-top: 2px;
    margin: 20px;
}