.rodape {
    padding: 5px 5%; 
    max-width: 100% !important;
    background-color: #EB5451; 
    text-align: center;
    height: fit-content;
}
.rodape .autoria {
    font-size: 70 px;
    font-weight: bold;
}
