@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&family=Quicksand:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;

    box-sizing: border-box;


    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;

    --main-background: #fe9c03;
    --main-light: #ffe7be;

    --secondary-background: #FFCD3C;

    --product-button-background: #D92027;

}

html {
    min-height: 100%;
}

body {
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}