body{
  margin: 0;
  padding: 0;
}

.Header{
  background-color: #fe9c03;
  width:100%;
  height:80px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

/*leftSide*/

.Header .leftSide{
  flex: 80%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.leftSide .logo{
  padding-left: 10px;
}

.Header .leftSide .logo a{
  text-decoration: none;
  color: black;
  font-size: 35px;
  margin-left: 15px;
}

.leftSide button{
  display: none;
  border : none;
  margin-left: 15px;
  background-color: #fff;
  border-radius: 5%;
}

.Header .leftSide .links a:hover{
  color: #e78d01;
}

.leftSide .logo a img{
  max-width: 100%; 
  border-radius: 50%;
  width: 60px; 
  height: 60px;
}

.Header .leftSide .links{
  padding-left: 200px;
  max-height:80px;
}

.Header .leftSide #hidden{
  display:flex;
}

.Header .leftSide .links a{
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-left: 30px;
}

.leftSide a .accountIcon{
  font-size:30px;
}
.leftSide a .shoppingCartIcon{
  font-size:30px;
}


/*rightSide*/

.Header .rightSide{
  flex: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.Header .rightSide form{
  width: 280px;
  padding-right:10px;
}


.rightSide form input{
  width: 220px;
  height: 30px;
  border: none;
  font-size: 15px;
  padding-left: 15px;
  border-radius: 10px 0px 0px 10px;
  color:black;
}

.rightSide form button{
  width: 45px;
  height: 30px; 
  border: none;
  border-radius: 0px 10px 10px 0px;
  background-color: #e78d01; 
  cursor: pointer;
  color: #fff;
}

/*Responsive*/
@media only screen and (max-width: 1100px){
  .leftSide a .accountIcon{
    font-size:33px;
  }
  .leftSide a .shoppingCartIcon{
    font-size:33px;
  }
  .Header .leftSide .links a{
    font-size: 23px;
    margin-left: 12px;
  }
  .Header .leftSide .logo a{
    font-size: 31px;
  }
}
@media only screen and (max-width: 1150px){
  .Header .leftSide .links{
    padding-left:80px;
  }
}
@media only screen and (max-width: 940px){
  .leftSide a .accountIcon{
    font-size:27px;
  }
  .leftSide a .shoppingCartIcon{
    font-size:27px;
  }
  .Header .leftSide .links{
    padding-left: 40px;
  }
  .Header .leftSide .links a{
    font-size: 20px;
    margin-left: 10px;
  }
  .Header .leftSide .logo a{
    font-size: 27px;
  }
}

@media only screen and (max-width: 850px){
  .leftSide button{
    display: flex;
  }
  .Header .leftSide .links{
    display: none;
    padding-left:0px;
  }

  .Header .rightSide #form{
    position: absolute;
    left:0px;
    top:190px;
    max-height: 230px;
    width: 100%;
    background-color: #e78d01;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Header .leftSide #hidden{
  position: absolute;
  left:0px;
  top:80px;
  max-height: 230px;
  width: 100%;
  background-color: #e78d01;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .Header .leftSide #hidden a{
    margin: 10px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 650px){
  .Header .leftSide .logo-name{
    display: none;
  }
}