.product {
    background-color: var(--main-light);
}

.product .product-container {
    margin: 2rem auto 3rem;
    margin-top: 130px;
}

.product .main-info {
    margin-bottom: 1rem;
}

.botao{
    padding: .6rem;
    margin: .5rem;
    width: 8rem;

    border-radius: .5rem;
    border: none;

    line-height: 1.2rem;
    color: white;

    background-color: var(--product-button-background);
}

.product .comments-container {
    margin-bottom: 3rem;
}

.container-principal{
    max-width: 100%;
    padding: 0;
    margin: 0;
}